* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #FFC0CB;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, .story, .gallery, .countdown, .rsvp {
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.countdown {
    font-size: 24px;
    font-weight: bold;
}
.directions-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.directions-button:hover {
    background-color: #0056b3;
}
